<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Users</li>
    </ol>
</nav>

<div class="view-student p-5">
    <div class="row mb-5">
        <div class="col text-center">
            <h3><%=first_name %> <%= row.last_name %></h3>
        </div>
    </div>    
</div>
